body {
    background-color: antiquewhite;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
}
  
  
li {
    float: left;
}
  
a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  

li a:hover {
    background-color: #111;
}

.css {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url('CSS.jpeg');
    background-color: black;
    color: ivory;
}

.git {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url('git2.png');
    color: ivory;
}

.html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.sc {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

p {
    border-style: double;
    border-color: olive;
    font-weight: 500px;
}

.border {
    border-style: double;
    border-color: olive;
}

.right {
    position: absolute;
    left: 0%;
}

#borderimg {
    border-image-slice: 100%;
  }

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

img {
    border: 5px solid #555;
}